<!DOCTYPE html>
<html>
  <head>
    <title>Smart Calculator</title>
    <script>
      window.calcName = "<%= name %>";
    </script>
    <script src="/js/lib/vendor/jquery.js"></script>
    <script src="/js/lib/vendor/ejs.js"></script>
    <script src="/js/lib/helpers.js"></script>
    <script src="/js/lib/calculator.js"></script>
    <script src="/js/app.js"></script>
    <script src="<%= calc %>"></script>
  </head>
  <body>
    <div class="output"></div>
  </body>
</html>

